<?xml version="1.0"?>
<robot name="Petter" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--Include the macro-->
  <xacro:include filename="$(find qubeDescription)/qube.macro.xacro"/>

  <link name="map"/>
  <xacro:qube/>
  <joint name="map_to_base" type="fixed">
    <parent link="map"/>
    <child link="base_link"/>
    <origin xyz="0 0 0"/>
  </joint>
</robot>